.small-row

  .large-12.columns
    .signup-panel
      %p.welcome Hello and welcome to Snack!
      %p.medium-text
        Snack is the Swedish word for a little chat, and that's exactly what Snack is all about. Find some friends and start learning a new language, or improve on one you've already started.
      %p
        Why not
        = link_to 'Find Some Friends', '#', class: 'button'
        or
        = link_to 'Search for Events', '#', class: 'button'
        ?

  %p
    .top-space
      And if you're feeling very saucy, you might say hello to me on the
      = link_to 'Twitters', 'http://www.twitter.com/@heyamberwilkie'
